<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF4h90CTRN1W16sFJQ1Zv0mJKAXHjQPAg</string>
	<key>GCM_SENDER_ID</key>
	<string>542176913757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cp1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-clean-arch-1f8bc</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-clean-arch-1f8bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542176913757:ios:909580a8c2c12aea2060b4</string>
</dict>
</plist>